apiVersion: networking.k8s.io/v1
kind: Ingress
spec:
  rules:
  - host: app1.tudominio.com
    http:
      paths:
      - path: /
        backend:
          service:
            name: app1-service
  - host: app2.tudominio.com
    http:
      paths:
      - path: /
        backend:
          service:
            name: app2-service